@use "./base/reset.scss";
@use "./base/common.scss";
@use "./utils/varriables.scss";
@use "./components/container.scss";
@use "./components/button.scss";
@use "./components/section-title.scss";
@use "./lauout/header.scss";
@use "./lauout/hero.scss";
@use "./lauout/skills.scss";
@use "./lauout/about-us.scss";
@use "./lauout/pricing.scss";
@use "./lauout/contact-us.scss";
@use "./lauout/footer.scss";
@use "./lauout/mob-menu.scss";
@use "./lauout/modal.scss";