//Color Variables
:root {
  --accent-color: #263238;
  --secondary-color: #FFFFFF;
  --second-logo-color: #939393;
  --border-color: #e0e0e0;
  --background-color: #f5f5f5;

  --font-color: #000000;
  --secondary-logo-color: #939393;
  --font-color-secondary: #FFFFFF;
  --text-muted-color: #8f95a5;

  //Hover Colors
  --hover-btn-color: #2c363d;
  //Font Variables
  --font-family: "Poppins", sans-serif;
}


//Color Variables
$accent-color: #263238;
$secondary-color: #FFFFFF;
$secondary-logo-color: #939393;
$border-color: #e0e0e0;
$border-color-secondary: #8F95A5;
$background-color: #f5f5f5;
$bg-light: #ffffff;

$font-color: #000000;
$second-font-color: #939393;
$font-color-secondary: #FFFFFF;
$text-muted-color: #8f95a5;

//Hover Colors
$hover-btn-color: #2c363d;
$hover-icon-color: #405057;
$hover-btn-color-second: #263238;

//Font Variables
$font-family: "Poppins", sans-serif;

// Animation & Index
$anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$menu-idx: 1000;