//Color Variables
:root {
  --accent-color: #263238;
  --secondary-color: #FFFFFF;
  --second-logo-color: #939393;
  --border-color: #e0e0e0;
  --background-color: #f5f5f5;

  --font-color: #000000;
  --secondary-logo-color: #939393;
  --font-color-secondary: #FFFFFF;
  --text-muted-color: #8f95a5;

  //Hover Colors
  --hover-btn-color: #2c363d;
  //Font Variables
  --font-family: "Poppins", sans-serif;
}


//Color Variables
$accent-color: #263238;
$secondary-color: #FFFFFF;
$secondary-logo-color: #939393;
$border-color: #e0e0e0;
$background-color: #f5f5f5;

$font-color: #000000;
$second-font-color: #939393;
$font-color-secondary: #FFFFFF;
$text-muted-color: #8f95a5;

//Hover Colors
$hover-btn-color: #2c363d;

//Font Variables
$font-family: "Poppins", sans-serif;