//Color Variables
$accent-color: #263238;;
$secondary-color: #FFFFFF;
$background-color: #f5f5f5;

$font-color: #000000;
$font-color-secondary: #FFFFFF;
$text-muted-color: #8f95a5;

//Hover Colors
$hover-btn-color: #2c363d;

//Font Variables
$font-family: "Poppins", sans-serif;