@use '../utils/varriables' as *;
.about-us {
  &__section {
    width: 100%;
  }

  &__container {
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    color: var(--text-black);
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--text-silver);
      margin-bottom: 30px;
    }
  }

  &__row {
    display: flex;
    margin: 0 -20px;
    align-items: center;

    .about-us__col {
      flex: 0 1 calc(100% / 2);
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }

  &__image {
    display: flex;
    max-width: 100%;
    justify-content: flex-end;

    img {
      width: 470px;
      height: 430px;
    }
  }
}

/* FACTS */
.facts-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fact {
  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    color: #2A3246;
    margin-bottom: 5px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-silver);
  }
}

/* MEDIA */
@media (max-width: 1200px) {
  .about-us {
    &__title {
      font-size: calc(36px + (48 - 36) * ((100vw - 992px) / (1600 - 320)));
    }

    &__image img {
      width: calc(300px + (470 - 300) * ((100vw - 992px) / (1600 - 320)));
      height: calc(300px + (430 - 300) * ((100vw - 992px) / (1600 - 320)));
    }
  }

  .fact {
    &__title {
      font-size: calc(30px + (48 - 30) * ((100vw - 992px) / (1600 - 320)));
    }

    &__text {
      font-size: calc(16px + (20 - 16) * ((100vw - 992px) / (1600 - 320)));
      line-height: 24px;
    }
  }
}

@media (max-width: 992px) {
  .about-us {
    &__title {
      font-size: calc(30px + (36 - 30) * ((100vw - 767px) / (992 - 320)));
    }

    &__text p {
      font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
    }
  }

  .fact__title {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1600 - 320)));
  }
}

@media (max-width: 767px) {
  .about-us {
    &__row {
      margin: 0;
      flex-direction: column;

      .about-us__col {
        flex: none;
        padding: 0;
      }
    }

    &__title,
    &__text p {
      text-align: center;
    }

    &__image {
      order: -1;
    }
  }
}

@media (max-width: 575px) {
  .about-us__image img {
    width: 100%;
    height: 280px;
  }
}
