@use '../utils/varriables' as *;

/* --- BASE STYLES (320px) --- */
.newsletter-section {
  padding: 40px 0;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-image: url('/img/contact-us/contact-img-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    order: 2;
    margin: 60px 0px;
  }
}

.newsletter-title {
  font-size: 24px;
  order: 1; 
  margin-bottom: 0;
}

.newsletter-description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: $text-muted-color;
  order: 3; 
  margin-bottom: 32px;
  max-width: 300px;
}

.newsletter-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  order: 4;
}

.newsletter-input {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid $border-color-secondary;
  border-radius: 8px;
  font-size: 12px;
  outline: none;

  &::placeholder {
    color: $text-muted-color;
  }
}

.newsletter-button {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

/* --- 575px --- */
@media (min-width: 575px) {
  .newsletter-description {
    max-width: 75%;
  }

  .newsletter-form {
    flex-direction: row;
    max-width: 520px;
    gap: 0;
  }

  .newsletter-input {
    border-radius: 8px 0 0 8px;
    border-right: none;
  }

  .newsletter-button {
    width: auto;
    padding: 22px 58px;
    border-radius: 8px;
    margin-left: -10px;
    position: relative;
  }

  .newsletter-content {
    &::before {
      margin: 100px 0px 30px 0px;
    }
  }
}


/* --- 767px --- */
@media (min-width: 767px) {
  .newsletter-section {
    padding: 80px 0;
  }

  .newsletter-content {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: repeat(3, auto);
    align-content: center;
    align-items: center;
    text-align: left;
  }

  .newsletter-content::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / 4;
    width: 260px;
    height: 230px;
    background: url('/img/contact-us/contact-img-1.svg') center/contain no-repeat;
    margin: 0;
  }

  .newsletter-title {
    grid-column: 2;
    grid-row: 1;
    font-size: 30px;
    margin: 0;
  }

  .newsletter-description {
    grid-column: 2;
    grid-row: 2;
    max-width: 85%;
    margin: 0;
  }

  .newsletter-form {
    grid-column: 2;
    grid-row: 3;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .newsletter-input {
    border-radius: 8px;
    border: 1px solid $border-color-secondary;
    font-size: 14px;
  }

  .newsletter-button {
    width: auto;
    border-radius: 8px;
    padding: 15px 35px;
    position: relative;
    font-size: 13px;
  }
}

/* --- 992px --- */
@media (min-width: 992px) {
  .newsletter-section {
    padding: 80px 0;
  }

  .newsletter-content {
    grid-template-columns: 1fr 1.3fr;
    gap: 20px;
  }

  .newsletter-content::before {
    width: 260px;
    height: 230px;
  }

  .newsletter-title {
    font-size: 36px;
  }

  .newsletter-description {
    max-width: 100%;
    font-size: 16px;
  }

  .newsletter-form {
    gap: 20px;
  }

  .newsletter-input {
    padding: 20px;
    font-size: 14px;
  }

  .newsletter-button {
    font-size: 16px;
  }
}

/* --- 1600px --- */
@media (min-width: 1600px) {
  .newsletter-section {
    padding: 100px 0 30px 0;
  }

  .newsletter-content {
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 0px;
  }

  .newsletter-content::before {
    width: 430px;
    height: 400px;
  }

  .newsletter-title {
    margin: 50px 0 0 0;
    font-size: 48px;
  }

  .newsletter-description {
    max-width: 100%;
    font-size: 20px;
  }

  .newsletter-form {
    margin: 0 0 50px 0;
    gap: 20px;
  }

  .newsletter-input {
    padding: 20px;
    font-size: 16px;
  }

  .newsletter-button {
    padding: 20px 50px;
    font-size: 20px;
  }
}