@use '../utils/varriables' as *;


.header{
   padding-top: 30px;
padding-bottom: 30px;
}

.header_flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.header {
    padding-top: 36px;
    padding-bottom: 44px;

    @media screen and (min-width: 575px) {
        padding-top: 39px;
        padding-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 39px;
        padding-bottom: 48px;
    }

    @media screen and (min-width: 992px) {
        padding-top: 30px;
        padding-bottom: 61px;
    }


    @media screen and (min-width: 1600px) {
        padding-top: 57px;
        padding-bottom: 80px;
    }
}

.aaa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    color: $font-color;

    @media screen and (min-width: 575px) {
        font-size: 30px;
    }

    @media screen and (min-width: 768px) {
        font-size: 30px;
    }

    @media screen and (min-width: 992px) {
        font-size: 30px;
        padding-right: 70px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.header_item {
    @media screen and (min-width: 992px) {
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        color: $accent-color;
    }

    @media screen and (min-width: 1200px) {
        font-family: $font-family;
        font-weight: 500;
        font-size: 20px;
        color: $accent-color;
    }
}

.header_list {
    display: none;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 992px) {
        display: flex;
        gap: 25px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
    }
}

.header_button {
    display: none;

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: flex-end;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        color: $font-color;
        background-color: transparent;
        border: 1px solid $border-color;
        border-radius: 7px;
        padding: 12px 40px;
        margin-left: 25px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        font-family: $font-family;
        font-weight: 400;
        font-size: 24px;
        color: $font-color;
        background-color: transparent;
        border: 2px solid $border-color;
        border-radius: 7px;
        padding: 17px 57px;
        margin-left: 30px;
    }
}

.current {
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    color: $secondary-logo-color;

    @media screen and (min-width: 768px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}
