.header_title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #000;

}


.header_list{
    display: none;
}

.header_button{
    display: none;
}

.current{
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #939393;
    
}