<<<<<<< Updated upstream
@use '../utils/varriables';
.hero {
  width: 100%;
  min-height: calc(100vh - 65px);
  padding-top: 65px;
  background-color: #fff;

  &__container {
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
  }

  &__text {
    order: 1;
  }

  &__image {
    img {
      max-width: 100%;
      height: auto;
      width: calc(280px + (600 - 280) * ((100vw - 320px) / (1024 - 320)));
    }
  }

  &__title {
    font-weight: 600;
    font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (575 - 320)));
    line-height: calc(36px + (45 - 36) * ((100vw - 320px) / (575 - 320)));
    margin-bottom: 20px;
    color: #000;
  }

  &__subtitle {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (575 - 320)));
    line-height: calc(21px + (24 - 21) * ((100vw - 320px) / (575 - 320)));
    color: var(--text-silver);
    margin-bottom: 35px;
  }

  /* ===== tablet ===== */
  @media (min-width: 768px) {
    &__content {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
      gap: 40px;
      padding: 60px 0;
    }

    &__text {
      flex: 0 1 50%;
      order: 0;
    }

    &__image {
      flex: 0 1 50%;
    }

    &__title {
      font-size: calc(36px + (48 - 36) * ((100vw - 768px) / (992 - 768)));
      line-height: 1.3;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 24px;
    }
  }

  /* ===== desktop ===== */
  @media (min-width: 992px) {
    &__content {
      padding: calc(80px + (120 - 80) * ((100vw - 992px) / (1600 - 992))) 0;
    }

    &__title {
      font-size: calc(48px + (64 - 48) * ((100vw - 992px) / (1600 - 992)));
      line-height: calc(64px + (80 - 64) * ((100vw - 992px) / (1600 - 992)));
      margin-bottom: 40px;
    }

    &__subtitle {
      font-size: calc(20px + (24 - 20) * ((100vw - 992px) / (1600 - 992)));
      line-height: 36px;
      margin-bottom: 60px;
    }
  }
}
.button {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 60px;
  color:  #fff;
  background-color: $accent-color;
  border: 2px solid $secondary-logo-color;
  border-radius: 6px;
  transition: 0.2s ease;

  &:hover {
    background-color: #fff;
    color: $secondary-logo-color;
  }

  &--get-started {
    font-weight: 400;
    width: 100%;
    max-width: 300px;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (575 - 320)));
    padding: calc(18px + (24 - 18) * ((100vw - 320px) / (575 - 320))) 60px;

    @media (min-width: 992px) {
      max-width: 500px;
      font-size: calc(24px + (36 - 24) * ((100vw - 992px) / (1600 - 992)));
      padding: 32px 118px;
    }
  }
}
=======
>>>>>>> Stashed changes
