@use '../utils/varriables' as *;

.prising-section {
    padding: 50px 0;

    @media screen and (min-width: 575px) {
        padding: 65px 0;
    }

    @media screen and (min-width: 768px) {
        padding: 75px 0;
    }

    @media screen and (min-width: 992px) {
        padding: 85px 0;
    }

    @media screen and (min-width: 1600px) {
        padding: 95px 0;
    }
}

.pricing_title {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    color: #000;

    @media screen and (min-width: 575px) {
        font-size: 30px;
        line-height: 2.67;
    }

    @media screen and (min-width: 768px) {
        font-size: 30px;
        line-height: 2.67;
        margin-bottom: 31px;
    }

    @media screen and (min-width: 992px) {
        font-size: 36px;
        line-height: 2.22;
    }

    @media screen and (min-width: 1600px) {
        font-size: 48px;
        line-height: 1.67;
    }
}

.pricing_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        gap: 15px;
    }

    @media screen and (min-width: 992px) {
        gap: 43px;
    }
}

.pricing_item {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        flex: 1;
        min-width: 0;
        align-items: flex-start;
        text-align: left;
    }
}

.pricing_item img {
    margin: 0 auto 25px;
    max-width: 100%;
    height: auto;
    display: block;
    flex-shrink: 0;

    @media screen and (min-width: 768px) {
        margin: 0 0 25px 0;
        height: 200px;
        object-fit: contain;
    }

    @media screen and (min-width: 1600px) {
        height: 280px;
    }
}

.card_title,
.card_title_10,
.card_title_2,
.card_title_3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #263238;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        min-height: 55px;
        font-size: 18px;
        justify-content: flex-start;
        text-align: left;
    }

    @media screen and (min-width: 992px) {
        min-height: 70px;
        font-size: 22px;
    }

    @media screen and (min-width: 1600px) {
        min-height: 90px;
        font-size: 30px;
    }
}

.card_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    color: #8f95a5;
    margin-bottom: 30px;
    width: 100%;

    @media screen and (min-width: 768px) {
        min-height: 90px;
        text-align: left;
    }

    @media screen and (min-width: 992px) {
        font-size: 16px;
        min-height: 110px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
        min-height: 120px;
    }
}

.card_price,
.card_price_1,
.card_price_2,
.card_price_3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #263238;
    text-align: center;
    margin-top: auto;

    background-color: #eeeeee;
    border-radius: 4px;
    padding: 10px 15px;
    display: inline-block;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        text-align: left;
    }

    @media screen and (min-width: 992px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
    }
}

.price_discription {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: inherit;
    color: #263238;
}