.pricing{
padding: 0
15px;
}

.pricing_title{

font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 333%;
color: #000;
}

.pricing_list{
}

.pricing_item{
width: 289px;
height: 451px;
}

.card_title{
font-family: var(--font-family);
font-weight: 600;
font-size: 30px;
line-height: 160%;
color: #263238;
padding-bottom: 17px;
}

.card_text{
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: #8f95a5;
padding-bottom: 33px;
}

.card_img_test{
width: 248px;
height: 248px;
padding-bottom: 28px;
}

.card_img_lesson{


}

.card_img_webinar{


}

.card_price_list{

}

.card_price{

}
