

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 480px;
        
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        
    }
}

.pricing_markap{
display: flex;
flex-direction: row;
}

.pricing_title{
text-align: center;
font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 333%;
color: #000;
}

.pricing_list{
    
}

.pricing_item{
text-align: center;
}

.pricing_item img{
    margin: 0 auto;
}

.card_title{
font-family: var(--font-family);
font-weight: 600;
font-size: 18px;
line-height: 156%;
color: #263238;
text-align: center;
margin-bottom: 25px;
}

.card_text{
font-family: var(--font-family);
font-weight: 400;
font-size: 13px;
text-align: center;
color: #8f95a5;
margin-bottom: 33px;

}

.card_img_test{
width: 248px;
height: 248px;

}

.card_img_lesson{
width: 257px;
height: 200px;
}

.card_img_webinar{
width: 241px;
height: 241px;
}

.card_price{
text-align: center;
    margin-bottom: 70px;
}

.price_discription{
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: #263238;
}