@use '../utils/varriables' as *;

/* --- BASE STYLES (320px) --- */
.skills-section {
  padding: 50px 0;
}

.skills-title {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  background-color: $background-color;
  border-radius: 10px;
  padding: 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &::before {
    content: '';
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
  }

  &.speaking::before {
    background-image: url('/img/skills/skill-img-1.svg');
  }

  &.writing::before {
    background-image: url('/img/skills/skill-img-2.svg');
  }

  &.reading::before {
    background-image: url('/img/skills/skill-img-3.svg');
  }

  &.listening::before {
    background-image: url('/img/skills/skill-img-4.svg');
  }
}

.skill-title {
  font-size: 18px;
}

.skill-description {
  font-size: 14px;
  line-height: 1.5;
  color: $text-muted-color;
}

.skills-btn {
  margin-top: 18px;
  align-self: flex-start;
  font-size: 14px;
}

/* --- 575px --- */
@media (min-width: 575px) {
  .skills-section {
    padding: 56px 0;
  }

  .skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .skill-item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    padding: 20px;
    gap: 20px;

    &::before {
      height: 190px;
    }
  }

  .skills-btn {
    display: flex;
    width: 100%;
    padding: 16px 42px;
    margin: 0px;
    margin-top: auto;

    font-size: 14px;
  }

  .skill-description {
    font-size: 12px;
    flex-grow: 1;
  }
}

/* --- 768px --- */
@media (min-width: 768px) {
    .skills-section {
        padding: 60px 0;
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "speaking writing reading"
            "speaking listening listening";
        gap: 10px;
    }

    .speaking { grid-area: speaking; }
    .writing { grid-area: writing; }
    .reading { grid-area: reading; }
    .listening { grid-area: listening; }

    .skill-item {
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .skill-item::before {
        height: 200px;
        margin-bottom: 16px;
    }

    .speaking {
        justify-content: flex-start;

        &::before {
            margin-top: 20px;
            margin-bottom: 50px;
            height: 200px;
        }
    }

    .listening {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding-right: 40px;

        &::before {
            order: 2;
            width: 60%;
            height: 100%;
            margin-bottom: 0;
        }
    }

    .skill-title {
        font-weight: 600;
        font-size: 20px;
        color: #263238;
        margin-bottom: 8px;

        display: flex;
        align-items: center;

    }

    .skill-description {
        font-size: 13px;
        margin-bottom: 16px;
    }

    .skills-btn {
        display: inline-flex;
        width: auto;
        font-size: 16px;
        align-self: flex-start;
    }
}

/* --- 992px --- */
@media (min-width: 992px) {
      .skills-section {
        padding: 72px 0;
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "speaking writing reading"
            "speaking listening listening";
        gap: 12px;
    }

    .speaking { grid-area: speaking; }
    .writing { grid-area: writing; }
    .reading { grid-area: reading; }
    .listening { grid-area: listening; }

    .skill-item {
        padding: 25px;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .skill-item::before {
        height: 220px;
        margin-bottom: 16px;
    }

    .speaking {
        justify-content: flex-start;

        &::before {
            margin: 0px;
            height: 220px;
        }
    }

    .listening {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding-right: 40px;

        &::before {
            order: 2;
            width: 65%;
            height: 100%;
            margin-bottom: 0;
        }
    }

    .skill-title {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .skill-description {
        font-size: 14px;
        flex-grow: 0;
        margin-bottom: 16px;
    }

    .skills-btn {
        display: inline-flex;
        width: auto;
        font-size: 18px;
        align-self: flex-start;
    }

}

/*  DESKTOP PLACEHOLDERS  */

@media (min-width: 1400px) {
  .skills-section {
    padding: 100px 0;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "speaking writing reading"
      "speaking listening listening";
    gap: 24px;
    align-items: start;
    height: 100%;
  }

  .skill-item {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
  }

  .skill-item::before {
    height: 280px;
  }

  .skills-listening-content {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .speaking {
    height: 100%;
    display: flex;
    flex-direction: column;

    &::before {
      height: 320px;
      margin-bottom: 30px;
    }


  }

  .listening {
    display: flex;
    flex-direction: row;
    align-items: center;
    &::before {
      width: 55%;
      height: 300px;
    }
  }

  .skill-title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .skill-description {
    width: 100%;
    font-size: 16px;
    margin-bottom: 40px;
  }

  .skills-btn {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: 15px;
    display: inline-flex;
    align-self: flex-start;
  }
}