  <section id="about-us__section" class="about-us__section section">
                <div class="about-us__container container">
                    <div class="about-us__content content">
                        <h2 class="about-us__title content__title">About Us</h2>
                        <div class="about-us__row">
                            <div class="about-us__text about-us__col">
                                <p>The model offers a framework for discussing problems related to the user's experience, as well as possible ways and means of solving them. Application development begins at the top level (strategy), where the future software product is described quite abstractly from the point of view of the expectations of both users and the customer.
                                </p>
                                <ul class="facts-info">
                                    <li class="fact__item">
                                        <strong class="fact__title">800</strong>
                                        <span class="fact__text">Pupils</span>
                                    </li>
                                    <li class="fact__item">
                                        <strong class="fact__title">18</strong>
                                        <span class="fact__text">Teachers</span>
                                    </li>
                                    <li class="fact__item">
                                        <strong class="fact__title">6</strong>
                                        <span class="fact__text">Foreign languages</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-us__image about-us__col">
                                <img src="./img/hero/about-back-img.svg" alt="About us image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>