<section class="header">
    <div class="container header_flex   ">
<h1 class="header_title">Bri<span class="current">lex</span></h1>
<ul class="header_list">
<li class="header_item">
<a href="#hero">Home</a>
</li>
<li class="header_item">
<a href="#skills">Skills</a>
</li>
<li class="header_item">
<a href="#about-us">About Us</a>
</li>
<li class="header_item">
<a href="#pricing">Pricing</a>
</li>
<li class="header_item">
<a href="#contacts">Contacts</a>
</li>
</ul>
<button class="header_button">Let’s Talk</button>
</div>
</section>