<section id="hero__section" class="hero__section section">
    <div class="hero__container container">
        <div class="hero__content hero__row">
            <div class="hero__text hero__column">
                <h1 class="hero__title">Learn Any Foreign Language</h1>
                <p class="hero__subtitle">With our teachers who write a program for each student, you will be able to make your first sketch after the first lesson.</p>
                <a  type="button" id="openModalBtn" class="button button--get-started">Get started</a>
            </div>
            <div class="hero__image hero__column">
                <img src="./img/hero/hero-bg-img.svg" alt="woman with laptop">
            </div>
        </div>
    </div>
</section>
