<div class="menu__container js-menu-container" id="mobile-menu">

    <button type="button" class="menu__toggle js-close-menu">
        <svg class="menu__toggle-icon" width="24" height="24" viewBox="0 0 24 24">
            <use href="/img/symbol-defs.svg#icon-close-btn"></use>
        </svg>
    </button>

    <ul class="menu__list--nav">
        <li class="menu__item">
            <a href="./index.html" class="menu__link menu__link--current">Home</a>
        </li>
        <li class="menu__item">
            <a href="#skills" class="menu__link">Skills</a>
        </li>
        <li class="menu__item">
            <a href="#about" class="menu__link">About Us</a>
        </li>
        <li class="menu__item">
            <a href="#pricing" class="menu__link">Pricing</a>
        </li>
        <li class="menu__item">
            <a href="#contact" class="menu__link">Contact Us</a>
        </li>
    </ul>

    <ul class="menu__contacts--nav">
        <li class="menu__item menu__item--cta">
            <a href="#" class="button menu__link menu__link--cta">Get started</a>
        </li>
        <li class="menu__item menu__item--mail">
            <a href="mailto:info@britlex.com" class="menu__link menu__link--mail">info@info@britlex.com</a>
        </li>
    </ul>

    <ul class="menu__list--socials">
        <li class="menu__item menu__item--socials">
            <a href="https://instagram.com/" class="menu__link menu__link--socials" target="_blank"
                rel="noopener noreferrer">Instagram</a>
        </li>
        <li class="menu__item menu__item--socials">
            <a href="https://twitter.com/" class="menu__link menu__link--socials" target="_blank"
                rel="noopener noreferrer">Twitter</a>
        </li>
        <li class="menu__item menu__item--socials">
            <a href="https://facebook.com/" class="menu__link menu__link--socials" target="_blank"
                rel="noopener noreferrer">Facebook</a>
        </li>
    </ul>
</div>