<section class="pricing" id="pricing">
    <div class="pricing_markap">
<h2 class="pricing_title">Pricing</h2>
<ul class="pricing_list">
    <li class="pricing_item">
<img class="card_img_test" src="../img/Pricing/pricing-Online-test-img.jpg" alt="Online-test">
<h3 class="card_title">Self-study online course</h3>
<p class="card_text">
    Start learning English online in live
classes with qualified EC teachers 
and students from all over the world.
</p>
<p class="card_price">
   <span class="price_discription">£5.99</span>
    per month
</p>
    </li>
    <li class="pricing_item">
<img class="card_img_lesson" src="../img/Pricing/pricing-Lesson-img.jpg" alt="Lesson">
<h3 class="card_title">Live online classes</h3>
<p class="card_text">
    Interactive group classes with 
expert teachers. Free 7-day trial
</p>
<p class="card_price">
 <span class="price_discription">£12.99</span>
 per month
</p>
    </li>
    <li class="pricing_item">
<img class="card_img_webinar" src="../img/Pricing/pricing-webinar-img.jpg" alt="">
<h3 class="card_title">Personal Tuition</h3>
<p class="card_text">
    Online one-to-one English 
tutoring – enjoy our first session
for only $1
</p>
<p class="card_price">
 <span class="price_discription">£20.99</span>
 per month
</p>
    </li>
</ul>
</div>
</section>