<section class="skills-section">
    <div class="container skills-container">
        <h2 class="section_title title">Skills</h2>

        <ul class="skills-list">
            <li class="skill-item speaking">
                <div class="skill-content">
                    <h3 class="skill-title">Speaking</h3>
                    <p class="skill-description">Improve your English skills and confidence. Live classes and interactive lessons online...</p>
                    <button class="button skills-btn">Learn more</button>
                </div>
            </li>

            <li class="skill-item writing">
                <div class="skill-content">
                    <h3 class="skill-title">Writing</h3>
                    <p class="skill-description">One of the most important and extensive areas of natural science...</p>
                    <button class="button skills-btn">Learn more</button>
                </div>
            </li>

            <li class="skill-item reading">
                <div class="skill-content">
                    <h3 class="skill-title">Reading</h3>
                    <p class="skill-description">Perception and response actions of the user resulting from the use...</p>
                    <button class="button skills-btn">Learn more</button>
                </div>
            </li>

            <li class="skill-item listening">
                <div class="skill-content">
                    <h3 class="skill-title">Listening</h3>
                    <p class="skill-description">Here you can find activities to practise your listening skills...</p>
                    <button class="button skills-btn">Learn more</button>
                </div>
            </li>
        </ul>
    </div>
</section>
