.container {
padding: 0 15px;
margin: 0 auto;
@media screen and (min-width: 320px) {
padding: 0 14px;
width: 290px;
}
@media screen and (min-width: 575px) {
padding: 0 15px;
width: 530px;}
@media screen and (min-width: 768px){
padding: 0 18px;
width: 732px;}
@media screen and (min-width: 992px) {
padding: 0 20px;
width: 952px;
}
@media screen and (min-width: 1600px) {
padding: 0 50px;
width: 1500px;
}
}